#logo {
	margin-right: 35%;
	margin-left: 35%;
	width: 30%;
	
}
#headerTxt {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}
#CTA {
	width: 100%;
	margin-bottom: 5px;
}
#topPlayerLi {
	margin-top: 15px;
}
#myPlayersCollapse {
	margin-bottom: 5px;
}
#comingSoon {
	width: 100%;
}
#addPlayerFieldset {
	margin-right: 10px;
	margin-left: 10px;
}
label.error {
	display: block;
	margin: 10px 0;
}
